.consolidate {
    background-color: dodgerblue;
}

.discretionary {
    background-color: lightseagreen;
}

.discretionary .text-muted {
    color: #f8f8f8 !important;
}

.consolidate .text-muted {
    color: #f8f8f8 !important;
}

tbody th {
    text-align: right;
}

.legend {
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 1px solid #666;
    vertical-align: middle;
}